<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
  xmlns:context="http://www.springframework.org/schema/context">

  <aop:aspectj-autoproxy/>
  <context:annotation-config/>
  <context:component-scan base-package="us.vicentini.udemy"/>

  <bean id="circle" class="us.vicentini.udemy.shape.Circle">
    <property name="name" value="Circle"/>
  </bean>


  <bean id="triangle" class="us.vicentini.udemy.shape.Triangle">
    <property name="name" value="Triangle"/>
    <property name="pointA" ref="pointA"/>
    <property name="pointB" ref="pointB"/>
    <property name="pointC" ref="pointC"/>
  </bean>

  <bean id="pointA" class="us.vicentini.udemy.shape.Point">
    <property name="x" value="0"/>
    <property name="y" value="0"/>
  </bean>

  <bean id="pointB" class="us.vicentini.udemy.shape.Point">
    <property name="x" value="-20"/>
    <property name="y" value="0"/>
  </bean>

  <bean id="pointC" class="us.vicentini.udemy.shape.Point">
    <property name="x" value="20"/>
    <property name="y" value="0"/>
  </bean>

</beans>
